django/
activate
.env
.dockersetup
.venv/
.django/
__pycache__/
postgres_data/
postgresql
base_template/
*.pyo
*.yml
*.pyc
*.egg-info
*.log
*.DS_Store
*.swp
*.tmp
*.sqlite3
*.sqlite
*.log
*.jpg
*.jpeg
*.png
scrubber
node_modules

**/migrations/*
!**/migrations/__init__.py
staticfiles/
