django/
activate
.env
.dockersetup
.venv/
.django/
__pycache__/
postgres_data/
base_template/
data/*
*.pyo
*.yml
*.pyc
*.egg-info
*.log
*.DS_Store
*.swp
*.tmp
*.sqlite3
*.sqlite
*.log
*.jpg
*.jpeg
*.png
scrubber

**/migrations/*
!**/migrations/__init__.py
staticfiles/
