{% extends "../partials/layout.html" %}
{% block title %}LOGIN PAGE YO{% endblock %}

{% block content %}
<form method="POST" action="">
    {% csrf_token %}
    <div class="mb-3">
        <label for="username">Username</label>
        <input class="py-2 px-4 rounded-lg bg-[#e1e1e1] focus:ring-black" type="text" name="username" required>
    </div>
    <div class="mb-3">
        <label for="password">Password</label>
        <input type="password" name="password" required>
    </div>
    <button type="submit">Login</button>
</form>
{% endblock %}
